.text-color-success {
    color: var(--color-success);
}

.text-color-error {
    color: var(--color-error);
}

.transaction-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}